TheFool/BattleShipService/BattleShipClient/Service References/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="BattleShipService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="BattleShipService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="BattleShipService/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BattleShipService/GameService/?xsd=xsd0" namespace="BattleShipService" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BattleShipService/GameService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/BattleShipService/GameService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BattleShipService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPortal_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPortal_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_GetOnlinePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlinePlayer" />
  </wsdl:message>
  <wsdl:message name="IPortal_GetOnlinePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnlinePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_InvitePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:InvitePlayer" />
  </wsdl:message>
  <wsdl:message name="IPortal_AcceptInvitation_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptInvitation" />
  </wsdl:message>
  <wsdl:message name="IPortal_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="IPortal_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IPortal_NotifyChallenge_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyChallenge" />
  </wsdl:message>
  <wsdl:message name="IPortal_NotifyResponce_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyResponce" />
  </wsdl:message>
  <wsdl:message name="IPortal_NotifyResponce_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyResponceResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_PlayerLoggedIn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IChat_StartChatSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StartChatSession" />
  </wsdl:message>
  <wsdl:message name="IChat_PostChatMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:PostChatMessage" />
  </wsdl:message>
  <wsdl:message name="IChat_UpdateChatMessages_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateChatMessages" />
  </wsdl:message>
  <wsdl:message name="IChat_UpdateChatMessages_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateChatMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPortal">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="BattleShipService/IPortal/Login" message="tns:IPortal_Login_InputMessage" />
      <wsdl:output wsaw:Action="BattleShipService/IPortal/LoginResponse" message="tns:IPortal_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnlinePlayer">
      <wsdl:input wsaw:Action="BattleShipService/IPortal/GetOnlinePlayer" message="tns:IPortal_GetOnlinePlayer_InputMessage" />
      <wsdl:output wsaw:Action="BattleShipService/IPortal/GetOnlinePlayerResponse" message="tns:IPortal_GetOnlinePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvitePlayer">
      <wsdl:input wsaw:Action="BattleShipService/IPortal/InvitePlayer" message="tns:IPortal_InvitePlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptInvitation">
      <wsdl:input wsaw:Action="BattleShipService/IPortal/AcceptInvitation" message="tns:IPortal_AcceptInvitation_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="BattleShipService/IPortal/GetPlayer" message="tns:IPortal_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="BattleShipService/IPortal/GetPlayerResponse" message="tns:IPortal_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="BattleShipService/IPortal/Update" message="tns:IPortal_Update_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyChallenge">
      <wsdl:output wsaw:Action="BattleShipService/IPortal/NotifyChallenge" message="tns:IPortal_NotifyChallenge_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyResponce">
      <wsdl:output wsaw:Action="BattleShipService/IPortal/NotifyResponce" message="tns:IPortal_NotifyResponce_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="BattleShipService/IPortal/NotifyResponceResponse" message="tns:IPortal_NotifyResponce_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayerLoggedIn">
      <wsdl:output wsaw:Action="BattleShipService/IPortal/PlayerLoggedIn" message="tns:IPortal_PlayerLoggedIn_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IChat">
    <wsdl:operation name="StartChatSession">
      <wsdl:input wsaw:Action="BattleShipService/IChat/StartChatSession" message="tns:IChat_StartChatSession_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostChatMessage">
      <wsdl:input wsaw:Action="BattleShipService/IChat/PostChatMessage" message="tns:IChat_PostChatMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChatMessages">
      <wsdl:output wsaw:Action="BattleShipService/IChat/UpdateChatMessages" message="tns:IChat_UpdateChatMessages_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="BattleShipService/IChat/UpdateChatMessagesResponse" message="tns:IChat_UpdateChatMessages_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>